# =============== #
# Unity generated #
# =============== #
client/Temp/
client/Library/

# ================================================= #
# Visual Studio / MonoDevelop / Other IDE generated #
# ================================================= #
/.idea
client/ExportedObj/
client/obj/
*.svd
*.userprefs
client/*.csproj
*.pidb
*.suo
client/*.sln
*.user
*.unityproj
*.booproj
